
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
/* - Mobile: 375px
- Desktop: 1440px */

/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}
 /* colors */
:root {
    --White: hsl(0, 0%, 100%);
    --Lightgray: hsl(212, 45%, 89%);
    --Grayishblue: hsl(220, 15%, 55%);
    --Darkblue: hsl(218, 44%, 22%);
    --font-size-paragraph:15px;
    --font-family: 'Outfit', sans-serif;
}


img {
    display: block;
    max-width: 100%;
    border-radius: 0.9375em;
    margin: 0 auto;
}
p {
    font-size: var(--font-size-paragraph);
    color: var(--Grayishblue);
    text-align: center;
    font-weight: 400;
}
h1 {
    color: var(--Darkblue);
    font-size: 1.25rem;
    text-align: center;
    font-weight: 700;
    padding-bottom: 0.9375rem;
}


main {
    display: flex;
    justify-content: center;
    padding: 5.3125em 1.75em;
    align-items: center;
    width:100%;
    min-width: 23.4375rem;
    background-color: var(--Lightgray);
}
.box{
    background-color: var(--White);
    padding: 1.125em;
    max-width: 20rem;
    border-radius: 1.25em;
}
.details {
    padding: 1.125em;
}

footer {
   width: 100%; 
}
.attribution {
    width:100%;
    text-align: center;
    background-color: var(--Lightgray);
}
.attribution a {
    text-decoration: none;
    cursor: pointer;
}
